include ../head.pug
p “This web application was created to fulfill Web Technology module's requirements and does not represent an actual company or service”
body
    .container.mt-5
      .row.d-flex.align-items-center
        .col-md-6
          h1 Travel Journal
        .col-md-6.text-end
          a.btn.btn-success(href='/add', role='button') Add Post      
      table.table.table-responsive.table-hover.table-striped.table-dark
        thead
          tr
            th(scope="col") ID
            th(scope="col") Title
            th(scope="col") Location
            th(scope="col") Photos
            th(scope="col") Actions
        tbody
script.
  document.addEventListener('DOMContentLoaded', function() {
    axios.get('/api/travel').then(function(response) {
      const posts = response.data;
      const tableBody = document.querySelector('table tbody');
      posts.forEach(post => {
        const row = document.createElement('tr');
        row.innerHTML = `
          <td>${post.id}</td>
          <td>${post.title}</td>
          <td>${post.location}</td>
          <td>
            ${post.photos.map(photo => `<img src="${photo}" alt="Photo" style="width: 100px; height: auto; margin-right: 5px;">`).join('')}
          </td>
          <td>
            <button class="btn btn-primary btn-sm" data-id="${post.id}" onclick="window.location.href='/update/${post.id}'">Update</button>
            <button class="btn btn-danger btn-sm" data-id="${post.id}">Delete</button>
          </td>
        `;
        tableBody.appendChild(row);
      });
    })
    .catch(function(error) {
      console.log(error);
    });

    document.addEventListener('click', function(event) {
      if (event.target && event.target.classList.contains('btn-danger')) {
        const postId = event.target.getAttribute('data-id');
        axios.delete(`/api/travel/${postId}`).then(function(response) {
          alert('Deleted successfully');
          location.href = '/';
        })
        .catch(function(error) {
          alert('Error deleting post: ' + error);
        });
      }
    });
  });



form(method="post" action=(mode === 'Update' ? `/api/travel/${travelPost && travelPost.id}?_method=PUT` : '/api/travel'))



